<footer class="w-100 flex mt-10 bg-gradient-to-t from-green-700 to-green-600 mx-3 md:mx-0 bg-green-600">
  <p class="text-sm p-6 justify-start">
    <span class="text-white mr-4">Tumulty Web Services ©️ 2020</span>
    <a class="text-white mr-4" href="/sitemap.xml">Sitemap</a>
    <a class="text-white" href="https://github.com/Tumulty-Web-Services/tumultywebservices.dev">Source Code</a>
  </p>
</footer>