<section id="form" class="mt-10 mx-3">
  <h3 class="text-left font-bold text-3xl text-gray-800 ml-6">
    Get in touch
  </h3>
  <form class="flex flex-col w-100 md:w-3/4 my-8 md:mx-4" netlify>
    <label class="sr-only" for="name">Name</label>
    <input
      id="name"
      type="text"
      name="name"
      placeholder="Full name"
      class="mt-4 p-2 border-2 border-green-700 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <label class="sr-only" for="email">Email</label>
    <input
      id="email"
      type="email"
      name="email"
      placeholder="Email"
      class="mt-4 p-2 border-2 border-green-700 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <label class="sr-only" for="phone">Phone</label>
    <input
      id="phone"
      type="phone"
      name="phone"
      placeholder="Phone"
      class="mt-4 p-2 border-2 border-green-700 focus:border-green-500 block w-100 text-base rounded-md"
    />
    <label class="sr-only" for="message">Message</label>
    <textarea
      id="message"
      rows="10"
      name="message"
      placeholder="Why you are reaching out..."
      class="mt-4 p-1 border-2 border-green-700 focus:border-green-500 block w-100 text-sm rounded-md"
    >
    </textarea>
    <button
      class="focus:outline-none w-32 mt-5 py-2 rounded-md font-semibold text-white bg-green-800 ring-4 ring-green-300"
      type="submit">
        Send
    </button>
</form>
</section>