<header class="mt-2 pb-2">
  <div class="flex flex-col md:flex-row">
    <a href="/">
    <img
      src="/assets/images/tws-logo.png"
      width="32"
      height="38"
      class="ml-2 mr-1 md:ml-4"
      alt="{{ site.title }}"
    />
    </a>
    <div class="mx-0 my-2 md:w-3/5">
      <h1 class="text-1xl font-black mx-2 md:mx-0">{{ site.title }}</h1>
    </div>
    <div class="my-2">
      <a href="tel:9083311057" class="ml-2 md:ml-0 block md:inline-block
      mr-1 text-green-800 font-black text-sm">908-331-1057</a>
      <a href="mail:ptumulty923@gmail.com" class="ml-2 md:ml-0 block md:inline-block mr-1 text-green-800 font-black text-sm">ptumulty923@gmail.com</a>
      <a href="#form"
        class="max-btn-width text-center ml-2 my-2 md:ml-0 md:my-0 block md:inline-block text-1xl font-black text-white bg-gradient-to-t from-green-700 to-green-600 hover:bg-green-500 hover:from-green-500 px-2 py-1 rounded">Get in touch</a>
    </div>
</header>