<header class="mt-2 pb-2 border-b-2 border-green-600">
  <div class="flex flex-col md:flex-row">
    <a href="/">
    <img
      src="/assets/images/tws-logo.png"
      width="30"
      height="20"
      class="ml-4 mr-1"
      alt="{{ site.title }}"
    />
    </a>
    <div class="mx-0 my-2 md:w-4/5">
      <h1 class="text-1xl font-black">{{ site.title }}</h1>
    </div>
    <div class="my-2">
      <a href="#form"
        class="text-1xl font-black text-white bg-gradient-to-t from-green-700 to-green-600 hover:bg-green-500 hover:from-green-500 px-2 py-1 rounded">Get in touch</a>
    </div>
</header>