<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png" />
    <link rel="icon" href="/assets/icons/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-16S4TT058B"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);}gtag('js', new Date()); gtag('config', 'G-16S4TT058B');</script>
  </head>
  <body class="antialiased text-gray-700">
    <div class="max-w-screen-xl xl:max-w-screen-2xl mx-auto">
      {% include "../_includes/header.njk" %}
    </div>
    <div class="text-xl">
        {{ content | safe }}
        {% include "../_includes/form.njk" %}
      </div>
    {% include "../_includes/footer.njk" %}
  </body>
</html>
