---
layout: base.njk
title: 'Tumulty Web Services'
description: Providing simple & cost-effective software solutions for your company's most complex problems.
---
<section class="bg-hero-pattern border-t-4 border-b-4 border-black">
  <div class="max-w-screen-xl xl:max-w-screen-2xl mx-auto">  
    <div class="md:col-span-2 px-8 md:px-8 md:py-20">
      <h2 class="text-7xl leading-none font-extrabold tracking-tight mt-8 text-white txt-shadow-sm">
        Change the way you do business
      </h2>
      <h3 class="font-bold text-5xl tracking-tight my-1 ml-2 text-white txt-shadow-sm">
        with software products & solutions that make an impact
      </h3>
      <p class="font-bold text-2xl tracking-tight mb-16 mt-6 text-white mx-22 w-100 md:w-7/12 txt-shadow-sm">
        Tumulty Web Services provides you with frontend, backend, database and server solutions for mobile and web applications.
      </p>  
    </div>
  </div> 
</section>
<section class="container mx-auto my-10">
  <h3 class="text-left font-bold text-3xl text-gray-800 block w-100 ml-6">
    What we offer
  </h3>
  <div class="flex flex-col md:flex-row my-6">
    <div class="mb-4 md:mb-0 text-center p-3 flex-1">
      <img
        src="/assets/images/HTML.svg"
        width="80"
        height="77"
        alt="html & css"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold text-2xl">Frontend Web Development</h4>
        <p class="text-base	py-4"> We create high quality websites and dynamic applications that provide customers a stunning experiences on the web.</p>
      </div>
    </div>
    <div class="mb-4 md:mb-0 text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/api-development.png"
        width="80"
        height="77"
        alt="api development"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold text-2xl">Backend Programming</h4>
        <p class="text-base	py-4">We develop powerful modern data drive web applications and systems that improve business workflows and solve real-world problems.</p>
      </div>
    </div>
    <div class="mb-4 md:mb-0 text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/bannegraphic.svg"
        width="110"
        height="106"
        alt="web design"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold text-2xl">Website Design & Creation</h4>
        <p class="text-base	py-4">We'll build you a fully-featured website and bring it to a global audience on a cost-effective content delivery network.</p>
      </div>
    </div>
      <div class="mb-4 md:mb-0 text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/api-development.png"
        width="80"
        height="77"
        alt="api development"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold text-2xl"> Hosting & Server Management</h4>
        <p class="text-base	py-4">Need custom software that solves a problem? We'll design a solution that'll ensures your </p>
      </div>
    </div>
  </div>
</section>
<section class="container mx-auto mt-12 mb-20">
  <h3 class="text-left font-bold text-3xl text-gray-800 block w-100 ml-6 mb-8">
    Featured projects
  </h3>
  <div class="w-fill mx-5 shadow-lg rounded flex flex-col md:flex-row">
    <img
      src="/assets/images/asburyparkhighschool.png"
      width="585"
      height="350"
      alt="Asbury Park High School Hall of Fame"
      class="block"
    />
    <div class="m-5">
      <p class="text-3xl font-bold">Asbury Park High School Hall of Fame</p>
      <p class="mt-4 text-base">
        An organization honors those Asbury Park, NJ High Schools graduates who have used the skills and knowledge which they acquired in the High School to become “Distinguished” adults in many different and varied fields.
      </p>
      <p class="mt-2 mb-8"><strong class="mr-2">Cloudinary</strong><strong class="mr-2">MongoDB</strong><strong class="mr-2">Netlify</strong><strong>React.js</strong></p>
      <a href="https://aphs-distinguished-hall-of-fame.netlify.app/"
        class="text-white text-base rounded px-5 py-2 bg-gradient-to-t from-green-700 to-green-600 mx-0 bg-green-600">
        Visit Site
      </a>          
      <p>
    </div>
  </div>
  <div class="w-fill mx-5 mt-14 shadow-lg rounded flex flex-col md:flex-row">    
    <div class="m-5 md:w-8/12">
      <p class="text-3xl font-bold">Donald Scarinci's Numismatics Catalog</p>
      <p class="mt-4 text-base">
        Donald Scarinci has studied rare coins and medallic art for over 35 years and is a member of the Citizens Coinage Advisory Committee. This site is a custom made gallery of all this expansive collection.
      </p>
      <p class="mt-2 mb-8"><strong class="mr-2">Cloudinary</strong><strong class="mr-2">Netlify</strong><strong>React.js</strong></p>
      <a href="http://numismatics-catalog.donaldscarinci.com/"
        class="text-white text-base rounded px-5 py-2 bg-gradient-to-t from-green-700 to-green-600 mx-0 bg-green-600">
        Visit Site
      </a>          
      <p>
    </div>
    <img
        src="/assets/images/numismaticscatalog.png"
        width="582"
        height="350"
        alt="Numismatics Catalog"
        class="block"
      />
  </div>
  <div class="w-fill mx-5 mt-14 shadow-lg rounded flex flex-col md:flex-row">
    <img
        src="/assets/images/weddingphotoalbums.png"
        alt="Wedding Catalog"
        width="580"
        height="350"
        class="block"
      />    
    <div class="m-5 md:w-8/12">
      <p class="text-3xl font-bold">Wedding Photo Gallery</p>
      <p class="mt-4 text-base">
        This is a progressive web application that contains all my wedding photos that are easily downloadable for friends and family.
      </p>
      <p class="mt-2 mb-8"><strong class="mr-2">Cloudinary</strong><strong class="mr-2">MongoDB</strong><strong class="mr-2">React.js</strong><strong class="mr-2">Typescript</strong><strong>Vercel</strong></p>
      <a href="https://rachel-peter-wedding-photo-gallery.vercel.app/"
        class="text-white text-base rounded px-5 py-2 bg-gradient-to-t from-green-700 to-green-600 mx-0 bg-green-600">
        Visit Site
      </a>          
      <p>
    </div>    
  </div>
    <div class="w-fill mx-5 mt-14 shadow-lg rounded flex flex-col md:flex-row">    
    <div class="m-5 md:w-8/12">
      <p class="text-3xl font-bold">Wave Landscaping & Design</p>
      <p class="mt-4 text-base">
        Wave Landscaping & Design is the premiere landscaping design and maintenance service in West Palm Beach, Florida.
      </p>
      <p class="mt-2 mb-8"><strong class="mr-2">Cloudinary</strong><strong class="mr-2">Netlify</strong><strong>React.js</strong></p>
      <a href="https://wavelandscapinganddesign.com/"
        class="text-white text-base rounded px-5 py-2 bg-gradient-to-t from-green-700 to-green-600 mx-0 bg-green-600">
        Visit Site
      </a>          
      <p>
    </div>
    <img
        src="/assets/images/wavelandscaping.png"
        width="650"
        height="350"
        alt="Wave Landscaping & Design"
        class="block float-right"
      />
  </div>

</section>

<section class="max-w-screen-xl xl:max-w-screen-2xl mx-auto">
  <h3 class="text-left font-bold text-3xl text-gray-800 ml-6">
    My Blog
  </h3>
  <div class="mb-4 md:mb-0 rounded-md p-4 flex-1 mx-2">
    <ul>
      <li class="mb-8 flex justify-between">
         <a href="https://blog.tumulty.me/post/the-pieces-that-make-up-browser-caching" class="text-xl font-black">
          <u>The pieces that make up browser caching</u>
        </a>
        <span class="text-sm">February 20, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/picking-a-part-web-page-speeds" class="text-xl font-black">
          <u>Picking a part web page speed</u>
        </a>
        <span class="text-sm">January 18, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
         <a href="https://blog.tumulty.me/post/a-light-introduction-to-web-components" class="text-xl font-black">
          <u>A light introduction to Web Components</u>
        </a>
        <span class="text-sm">January 17, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/load-important-content-on-your-web-page-faster" class="text-xl font-black">
          <u>Load important content on your web page faster</u>
        </a>
        <span class="text-sm">January 10, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/why-does-large-content-on-a-web-page-load-so-slow" class="text-xl font-black">
          <u>Why does large content on a web page load so slow?</u>
        </a>
        <span class="text-base">December 29, 2020</span>
      </li>
    </ul>
    <a href="https://blog.tumulty.me" class="my-4 text-1xl font-black text-green-800 ml-4 md:ml-0 flex md:justify-end underline">More from my blog</a>
  </div>
</section>