---
layout: base.njk
title: 'Tumulty Web Services'
description: Providing simple & cost-effective software solutions for your company's most complex problems.
---
<section class="bg-gradient-to-r from-green-400 via-indigo-500 to-blue-500 border-t-4 border-b-4 border-green-600">
  <div class="max-w-screen-xl xl:max-w-screen-2xl mx-auto grid md:grid-cols-3 gap-6">
    <img
      src="/assets/images/bannegraphic.svg"
      alt="web development character"
      width="416"
      height="326"
      class="mx-auto block my-4 md:mx-0 w-100 py-6 object-cover"
    /> 
    <div class="md:col-span-2 px-4 md:px-0 md:py-14">
      <h2 class="text-8xl leading-none font-extrabold tracking-tight mt-8 text-white">
        Always building better software
      </h2>
      <p class="font-bold text-1xl tracking-tight mb-12 mt-4 text-white">
        {{ site.description }}
      </p>  
    </div>
  </div> 
</section>
<section class="mx-3 md:mx-0">
  <div class="max-w-screen-xl xl:max-w-screen-2xl mx-auto flex flex-col md:flex-row my-10">
    <img
      src="/assets/images/me.jpg"
      alt="peter tumulty"
      class="rounded-full w-80 h-80 flex items-center justify-center md:m-6"
      height="320"
      width="320"
    />
    <div class="m-4 md:m-16">
      <p class="mt-16 text-3xl">My name is Peter Francis Tumulty - I am a husband, son, brother, former bartender, dog owner and <strong>most importantly...</strong></p>
      <p class="mt-6 text-2xl">an experienced <u>Web Developer & Coding Coach</u> who builds blazing fast, secure, and easy to manage modern web applications and teaches others to do the same.</strong></p>     
    </div>
  </div>
</section>
<section class="max-w-screen-xl xl:max-w-screen-2xl mx-auto">
  <h3 class="text-left font-bold text-3xl text-gray-800 block w-100 ml-6">
    What I offer
  </h3>
  <div class="flex flex-col md:flex-row my-6">
    <div class="mb-4 md:mb-0 rounded-md border-4 border-light-blue-500 border-opacity-75 shadow text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/HTML.svg"
        width="80"
        height="77"
        alt="api development"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold">HTML/CSS</h4>
        <p class="text-xs	py-4">Taking custom layouts and designs and turning them into static sites using HTML/CSS 
        </p>
      </div>
    </div>
    <div class="mb-4 md:mb-0 rounded-md border-4 border-light-blue-500 border-opacity-75 shadow text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/JS.svg"
        width="80"
        height="77"
        alt="progressive web applications"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold">JavaScript</h4>
        <p class="text-xs	py-4">Giving those statics sites functionality using vanilla JavaScript, JQuery, or one of the many JavaScript frameworks</p>
      </div>
    </div>
    <div class="mb-4 md:mb-0 rounded-md border-4 border-light-blue-500 border-opacity-75 shadow text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/REACT.svg"
        width="80"
        height="77"
        alt="cloud infrastructure"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold">React.js</h4>
        <p class="text-xs	py-4">As for JavaScript libraries go, React.js is my go to to create complicated user interfaces</p>
          </p>
      </div>
    </div>
      <div class="mb-4 md:mb-0 rounded-md border-4 border-light-blue-500 border-opacity-75 shadow text-center p-3 flex-1 mx-2">
      <img
        src="/assets/images/api-development.png"
        width="80"
        height="77"
        alt="email marketing"
        class="mx-auto block my-4"
      />
      <div class="ml-5">
        <h4 class="font-bold">JAMstack</h4>
        <p class="text-xs	py-4">As a front end developer, I can create powerful web applications by relying on some of the million backend services on the market by tying them into a JAMstack architecture</p>
          </p>
      </div>
    </div>
  </div>
</section>
<section class="max-w-screen-xl xl:max-w-screen-2xl mx-auto mt-12">
  <h3 class="text-left font-bold text-3xl text-gray-800 block w-100 ml-6">
    Projects & Websites
  </h3>
  <div class="flex flex-col md:flex-row">
    <div class="mb-4 md:mb-0 rounded-md p-4 flex-1 mx-2">
      <img
        src="/assets/images/portfolio-sites/asburypark.png"
        width="350"
        height="273"
        alt="Asbury Park High School Hall of Fame"
        class="block my-4 rounded"
      />
      <div class="flex mt-6">
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Adobe XD</div>
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">React.js</div>
        <div class="rounded-full text-center p-2 bg-green-700 text-white text-base">Modular CSS</div>
      </div>
      <div class="flex mt-4">
        <a href="https://aphs-distinguished-hall-of-fame.netlify.app/" class="mr-3">Live Site</a>
        <a href="https://github.com/Tumulty-Web-Services/aphshalloffame.com">Github Repo</a>
      </div>
    </div>
    <div class="mb-4 md:mb-0 rounded-md p-4 flex-1 mx-2">
      <img
        src="/assets/images/portfolio-sites/Numismaticscatalog.png"
        width="350"
        height="273"
        alt="Numismatics Catalog"
        class="block my-4 rounded"
      />
      <div class="flex mt-6">
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Adobe XD</div>
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Auth0</div>
        <div class="rounded-full text-center p-2 bg-green-700 text-white text-base">React.js</div>        
      </div>
      <div class="flex mt-6">
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Typescript</div>
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Storybook</div>
        <div class="rounded-full text-center p-2 bg-green-700 text-white text-base">Jest</div>        
      </div>
      <div class="flex mt-4">
        <a href="https://github.com/ptums/numismatics-catalog" class="mr-3">Live Site</a>
        <a href="http://numismatics-catalog.donaldscarinci.com/">Github Repo</a>
      </div>
    </div>
    <div class="mb-4 md:mb-0 rounded-md p-4 flex-1 mx-2">
      <img
        src="/assets/images/portfolio-sites/rachelandpeter.png"
        width="350"
        height="273"
        alt="Numismatics Catalog"
        class="block my-4 rounded border"
      />
      <div class="flex mt-6">
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Adobe XD</div>
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">React.js</div>
        <div class="rounded-full text-center p-2 bg-green-700 text-white text-base">Modular CSS</div>        
      </div>
      <div class="flex mt-6">
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Typescript</div>
        <div class="rounded-full text-center p-2 bg-green-700 mr-3 text-white text-base">Storybook</div>
        <div class="rounded-full text-center p-2 bg-green-700 text-white text-base">Jest</div>        
      </div>
      <div class="flex mt-4">
        <a href="https://asburypark" class="mr-3">Live Site</a>
        <a href="https://github.com">Github Repo</a>
      </div>
    </div>
    
  </div>    
</section>
<section class="max-w-screen-xl xl:max-w-screen-2xl mx-auto">
  <h3 class="text-left font-bold text-3xl text-gray-800 ml-6">
    My Blog
  </h3>
  <div class="mb-4 md:mb-0 rounded-md p-4 flex-1 mx-2">
    <ul>
      <li class="mb-8 flex justify-between">
         <a href="https://blog.tumulty.me/post/the-pieces-that-make-up-browser-caching" class="text-xl font-black">
          <u>The pieces that make up browser caching</u>
        </a>
        <span class="text-sm">February 20, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/picking-a-part-web-page-speeds" class="text-xl font-black">
          <u>Picking a part web page speed</u>
        </a>
        <span class="text-sm">January 18, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
         <a href="https://blog.tumulty.me/post/a-light-introduction-to-web-components" class="text-xl font-black">
          <u>A light introduction to Web Components</u>
        </a>
        <span class="text-sm">January 17, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/load-important-content-on-your-web-page-faster" class="text-xl font-black">
          <u>Load important content on your web page faster</u>
        </a>
        <span class="text-sm">January 10, 2021</span>
      </li>
      <li class="mb-8 flex justify-between">
        <a href="https://blog.tumulty.me/post/why-does-large-content-on-a-web-page-load-so-slow" class="text-xl font-black">
          <u>Why does large content on a web page load so slow?</u>
        </a>
        <span class="text-base">December 29, 2020</span>
      </li>
    </ul>
    <a href="https://blog.tumulty.me" class="my-4 text-1xl font-black text-green-800 ml-4 md:ml-0 flex md:justify-end underline">More from my blog</a>
  </div>
</section>